{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
  <h2>Lista de Assuntos</h2>
  {% for periodo in periodos %}
  <h3>{{ periodo.slug }} </h3>
    {% for materia in periodo.materias_set.all %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ materia.titulo }}</h5>
            <p class="card-text">{{ materia.descricao }}</p>
            <a href="{{ resquet.path }}{{ materia.id }}" class="btn btn-primary">Detalhes</a>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
{% endblock content %}
