{% extends "base.html" %}
{% load cms_tags disqus_tags widget_tweaks static cms_static sekizai_tags i18n l10n admin_static %}

{% block title %}Atualizar Matéria{% endblock title %}

{% block content %}


  <h2>{{ materia.titulo }}</h2>
  <div class="row">{{ materia.descricao }}</div>

  {% if album %}
    <h3>Fotos</h3>
  {% else %}
    <p>Nenhuma foto</p>
  {% endif %}

  {% for foto in album %}
  <div class="row">
    <img class='inline-picture' src="{{ foto.imagem.url }}">
  </div>
  {% endfor %}

  <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
  <div class="row">
    {% include "curso/widget_tweaks.html" with myform=foto_form mybtn="foto_submit" %}
  </div>
  </form>

  {% if arquivos %}
    <h3>Arquivos</h3>
  {% else %}
    <p>Nenhum arquivo</p>
  {% endif %}

  {% for arquivo in arquivos %}
  <div class="row">
    <li><a href="{{ arquivo.documento.url }}">{{arquivo.documento.name}}</a></li>
  </div>
  {% endfor %}

  <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
  <div class="row">
    {% include "curso/widget_tweaks.html" with myform=arquivo_form mybtn="arquivo_submit" %}
  </div>
  </form>


</div>
</form>
<div class="row">
    <div class="col-sm-9 blog-main">
    {% disqus_show_comments %}
    </div>
</div>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}
