{% extends "base.html" %}
{% load cms_tags disqus_tags widget_tweaks static cms_static sekizai_tags i18n l10n admin_static %}

{% block title %}Atualizar Matéria{% endblock title %}

{% block content %}

<form method="post">{% csrf_token %}

  <h2>{{ materia.titulo }}</h2>
  <div class="row">{{ materia.descricao }}</div>
  <div class="row">
  {% for foto in album %}
    <img class='inline-picture' src="{{ foto.document.url }}">
  {% endfor %}
  </div>
  <div class="row">
  {% for arquivo in arquivos %}
    <li><a href="{{ arquivo.documento.url }}">{{arquivo.documento.name}}</a></li>
  {% endfor %}
  </div>
  <div hidden>
    {% include "curso/widget_tweaks.html" with myform=form %}
  </div>

  {% for formset in inlines %}
  {{ formset.management_form }}
    {% for form in formset %}
    <div class="row">
        {% include "curso/widget_tweaks.html" with myform=form %}
    </div>
    {% endfor %}
  {% endfor %}
  <div class="form-group">
  <button type="submit" class="btn btn-success">
    <span class="glyphicon glyphicon-ok"></span> Save
  </button>
  <a href="{% url 'curso:curso_list' %}" class="btn btn-default">Cancel</a>
</div>
</form>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}
