{% extends "base.html" %}
{% load cms_tags disqus_tags widget_tweaks static cms_static sekizai_tags i18n l10n admin_static %}

{% block title %}Atualizar Matéria{% endblock title %}

{% block content %}

<form method="post" action="{% url 'curso:curso_list' %}">{% csrf_token %}

  <h2>{{ materia.titulo }}</h2>
  <div class="row">{{ materia.descricao }}</div>

 <h3>Fotos</h3>

  {% for foto in album %}
  <div class="row">
    <img class='inline-picture' src="{{ foto.imagem.url }}">
  </div>
  {% endfor %}
  {% with named_formset.foto_formset as formset %}
    {% for form in formset %}
    {{ formset.management_form }}
        <div class="row">
          {% include "curso/widget_tweaks.html" with myform=form %}
        </div>
    {% endfor %}

  {% endwith %}

  <div hidden>
    {% include "curso/widget_tweaks.html" with myform=form %}
  </div>

  <h3>Arquivos</h3>

  {% for arquivo in arquivos %}
  <div class="row">
    <li><a href="{{ arquivo.documento.url }}">{{arquivo.documento.name}}</a></li>
  </div>
  {% endfor %}

  {% with named_formset.arquivo_formset as formset %}
      {% for form in formset %}
        <div class="row">
            {% include "curso/widget_tweaks.html" with myform=form %}
        </div>
      {% endfor %}
    {{ formset.management_form }}
  {% endwith %}
  <div class="form-group">
      <div class="col-md-9 col-md-offset-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
  </div>
</div>
</form>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}
