{% extends "base.html" %}
{% load cms_tags disqus_tags widget_tweaks static cms_static sekizai_tags i18n l10n admin_static %}

{% block title %}Criar Matéria{% endblock title %}

{% block content %}

<h2 class="mb-4">Criar Matéria</h2>

<form method="post">{% csrf_token %}

  {% include "curso/widget_tweaks.html" with myform=form %}

  {% for formset in inlines %}
    {{ formset.management_form }}
    {% for form in formset %}

        {% include "curso/widget_tweaks.html" with myform=form mybtn="materia_submit" %}

    {% endfor %}
  {% endfor %}

</form>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}
