{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{{ periodo.titulo }} Periodo{% endblock title %}

{% block content %}
  <h2 class="mb-4">Lista de Materias {{ periodo.titulo }} Periodo</h2>   <a href="{% url 'curso:materia-criar' %}" class="btn btn-primary">Criar</a>
  <h3 class="mb-4"></h3>
  {% regroup materias by group as materia_list %}
  {% for group in materia_list %}
    <div class="row">
    {% for materia in group.list %}
      <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ materia.titulo }}</h5>
            <p class="card-text">{{ materia.descricao }}</p>
            <a href="{% url 'curso:materia' periodo.slug materia.slug %}" class="btn btn-primary">Detalhes</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
{% endblock content %}
